<li class="film-card__container" title='{{title}}'><img class="film-poster"
        src="http://image.tmdb.org/t/p/w300{{ poster_path }}" alt="{{ original_title }}" data-id="{{ id }}">
    <p class="film-card__name">{{title}}</p>

</li>