<li class="film-card__container" title='{{title}}'><a href="#"><img
            src="http://image.tmdb.org/t/p/w200{{ poster_path }}" alt="{{ original_title }}" data-id="{{ id }}">
        <p class="film-card__name">{{title}}</p>

    </a>
</li>