<div class="page-container">
    <h1 class="page-title">Информация о фильме</h1>
    <div class="js-home">
        <ul class="page-main__films-list">
            <li class="film__card">
                <div class="film__card-wrapper">
                    <div class="film__poster-wrapper">
                        <img class="film__poster film-poster" src='https://image.tmdb.org/t/p/w300{{poster_path}}'
                            alt={{original_title}} />
                        <div class="film__card-stars"><i class="material-icons icon--star">stars</i>{{vote_average}}
                        </div>
                    </div>
                    <div class="film__card-buttons">
                        <button id="overlooked" class="film__card-button">
                            <i class="material-icons icon--star">folder_open</i><span class="btn-span">Добавить в
                                просмотренные</span>
                        </button>
                        <button id="add-to-queue" class="film__card-button">
                            <i class="material-icons icon--star">add_circle_outline</i><span class="btn-span">Добавить
                                в очередь просмотра</span>
                        </button>
                    </div>
                </div>

                <div class="film__card-description">
                    <div class="film__card-attr">
                        <h3 class="film__card-title">{{title}}</h3>
                        <div class="attr-item "><span class="attr-item__name">Дата выхода: </span>
                            <span class="attr-item__value">{{release_date}}</span></div>
                        <div class="attr-item "><span class="attr-item__name">Жанр: </span>
                            <span class="attr-item__value">{{#each genres}}
                                <span><span class="devider">|</span> {{this.name}}</span>
                                {{/each}}</span>
                        </div>
                        <div class="attr-item"><span class="attr-item__name">Студия: </span>
                            <span class="attr-item__value">{{#each production_companies}}
                                <span><span class="devider">|</span> {{this.name}}</span>
                                {{/each}}</span>
                        </div>

                        <div class="attr-item"><span class="attr-item__name">Страна: </span>
                            <span>{{#each production_countries}}
                                <span class="attr-item__value"><span class="devider">|</span> {{this.name}}</span>
                                {{/each}}</span>
                        </div>
                    </div>
                    <hr>
                    <p class="text-summary"> {{overview}}</p>
                </div>
        </ul>
    </div>
</div>